@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

* {
    font-family: 'Fjalla One', sans-serif;
}

body {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
       url('https://miro.medium.com/max/5600/1*wjfSFGr3OzwP4I6nQ12EvQ.png') fixed;
    background-size: cover;
    background-position: center center;
    background-color: black;
  }

h1 {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 0px;
    color: white;
  }

.homepage-heading {
    text-align: center;
    margin-top: 10px;
    color: lightskyblue;
  }

#js-homepage {
    text-align: center;
    margin-top: 50px;
    color: white;
  }
  

#js-search-artist{
    text-align: center;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
}

.submit {
    border-radius: 25px;
    background: transparent;
    color: white;
    padding: 10px 20px;
  }

.submit:hover {
    cursor: pointer; 
    background: lightskyblue;
    color: black;
    transition: 0.5s;
}

#js-search-bar {
    background-color: transparent;
    color: white;
}

.tags-header {
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    text-decoration: underline;
}

.artist-tags-render {
    color: lightskyblue;
    margin-bottom: 0px;
}

.artist-name {
    color: white;
    font-size: 200%;
}

.artist-bio {
    color: white;
}

.artist-image {
    width: 10%;
    height: 10%;
}

.events-header {
    color: white;
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: underline;
}

.artist-events-render {
    padding-bottom: 20px;
    text-align: center;
}

.event-name {
    color: white;
}

.event-details {
    color: lightskyblue;
}

.top-tracks-header {
    display: none;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

a {
    color: lightseagreen;
}

a:hover {
    color: blue;
}

.artist-top-tracks-render {
    color: white;
    margin-bottom: 25px;
}

.videos-header {
    display: none;
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.artist-videos {
    color: white;
}

.artist-videos-render {
    display: block;
    margin-bottom: 25px;
} 

.artist-page {
    display: flex;
    justify-content: space-between;
}

.error-page {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 300px;
}

@media screen and (max-width: 960px) {

    #js-search-artist{
        padding: 0px 0px;
        margin-bottom: 20px;
    }
    
    .submit {
        padding: 5px 5px;
      }

    h1 {
        margin-top: 200px;
    }

    #js-homepage {
        text-align: center;
    }

    .artist-data {
        text-align: center;
    }

    .artist-bio {
        text-align: center;
    }

    .artist-image {
        width: 30%;
        height: 30%;
    }

    .tags {
        text-align: center;
    }

    .artist-page {
        display: block;
    }

    .top-tracks-header {
        text-align: center;
        border-top: 2px white dotted;
        padding-top: 50px;
    }

    .artist-top-tracks-render {
        text-align: center;
    }

    .events-header {
        text-align: center;
        border-top: 2px white dotted;
        padding-top: 50px;
    }

    .artist-events-render {
        display: block;
        text-align: center;
    }

    .videos-header {
        text-align: center;
        border-top: 2px white dotted;
        padding-top: 50px;
    }

    .artist-videos-render {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {

    body {
        background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url('https://wallpaperaccess.com/full/127068.jpg') fixed;
        background-size: cover;
        background-color: black;
    }

    .artist-image {
        width: 50%;
        height: 50%;
    }
}